<mat-card class="footer_card">
    <mat-card-content class="footer__content">
        <div class="footer__left">
            <p>© {{year}} - {{autor}}. Todos los derechos reservados.</p>
            <p>Contáctanos al: {{telefono}}</p>
        </div>
        <div class="footer__right">
            <a href="https://github.com/AbrahamzzZ/Aplicacion-Angular" target="_blank" aria-label="Ver el código en GitHub">
                <mat-icon>code</mat-icon>
            </a>
            <a href="https://github.com/AbrahamzzZ" target="_blank">
                <mat-icon>work</mat-icon>
            </a>
            <a href="mailto:hermanosfarfan@gmail.com">
                <mat-icon>email</mat-icon>
            </a>
        </div>
    </mat-card-content>
</mat-card>