<div class="container">
  <div class="container__info-usuario">
    <span class="container__nombre-usuario">{{ nombreUsuario }}</span>
  </div>

  <!-- Ícono hamburguesa solo en móviles -->
  <button class="hamburger" (click)="menuAbierto = !menuAbierto">
    <mat-icon>{{ menuAbierto ? 'close' : 'menu' }}</mat-icon>
  </button>

  <!-- Menú principal -->
  <nav [ngClass]="{ 'menu': true, 'menu--abierto': menuAbierto }">
    <button mat-icon-button routerLink="/home" class="menu__button">
      <mat-icon class="menu__icon">home</mat-icon>
    </button>

    @for (menu of menus; track $index) {
      <ng-container>
        <button mat-button [routerLink]="menu.url" class="menu__trigger">
          <mat-icon>{{ menu.icono }}</mat-icon>
          {{ menu.nombre }}
        </button>
      </ng-container>
    }
  </nav>

  <span class="container__salir">
    <button (click)="cerrarSesion()" class="salir__button">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </span>
</div>
