.container {
  display: flex;
  align-items: center;
  justify-content: space-between; // Distribuye fecha, menú y hora en fila
  padding: 10px;
  background: #79acde;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  &__info-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // o 'center' si quieres centrar
    gap: 4px;
  }

  &__fecha,
  &__hora {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 5px 10px;
  }

  &__nombre-usuario{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 5px 10px;
  }

  &__salir {
    display: flex;
    justify-content: flex-end;
  }

  .salir__button {
    background: #79acde;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 26px;
      margin: 7px;
    }

    &:active {
      //background-color: #81b8ef;
      transition: color 0.3s ease;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__trigger {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  &__item-icon {
    font-size: 20px;
  }

  // Responsividad para móviles
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}