.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: #79acde; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-menu-panel {
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    min-width: 200px; 
}

::ng-deep .mat-menu-item {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 10px; 
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

::ng-deep .mat-menu-item:hover {
    background-color: #507fae;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

::ng-deep .mat-menu-item:hover mat-icon {
    color: white;
}

::ng-deep .mat-mdc-menu-content{
    background-color: #79acde;
}

::ng-deep .mdc-button__label{
    font-size: 20px;
}
