<div class="container">
  <span class="container__fecha">{{ fechaActual }}</span>

  <div class="menu">
    <button mat-icon-button routerLink="/home" class="menu__button">
      <mat-icon class="menu__icon">home</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuUsuarios" class="menu__trigger">
      <mat-icon class="menu__icon">person</mat-icon> Usuarios
    </button>
    <mat-menu #menuUsuarios="matMenu" yPosition="above" class="menu__dropdown">
      <button mat-menu-item routerLink="/usuario" class="menu__item">
        <mat-icon class="menu__item-icon">visibility</mat-icon> Ver usuarios
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuProductos" class="menu__trigger">
      <mat-icon class="menu__icon">store</mat-icon> Productos
    </button>
    <mat-menu #menuProductos="matMenu" yPosition="below" class="menu__dropdown">
      <button mat-menu-item routerLink="/producto" class="menu__item">
        <mat-icon class="menu__item-icon">shopping_cart</mat-icon> Ver productos
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuClientes" class="menu__trigger">
      <mat-icon class="menu__icon">group</mat-icon> Clientes
    </button>
    <mat-menu #menuClientes="matMenu" xPosition="before" class="menu__dropdown">
      <button mat-menu-item routerLink="/cliente" class="menu__item">
        <mat-icon class="menu__item-icon">assignment_ind</mat-icon> Ver clientes
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="afterMenuProveedor" class="menu__trigger">
      <mat-icon>inventory</mat-icon> Proveedores
    </button>
    <mat-menu #afterMenuProveedor="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/proveedor" class="menu__item">
        <mat-icon>group</mat-icon> Ver proveedores
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="afterMenuTransportista" class="menu__trigger">
      <mat-icon>local_shipping</mat-icon> Transportista
    </button>
    <mat-menu #afterMenuTransportista="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/transportista" class="menu__item">
        <mat-icon>group</mat-icon> Ver transportista
      </button>
    </mat-menu>
  </div>

  <span class="container__hora">{{ horaActual }}</span>
</div>
