<div class="container">
    <mat-card class="card">
		<mat-card-header class="card__title">
			<mat-card-title>Editar proveedor</mat-card-title>
		</mat-card-header>

        <mat-card-content>
            <form class="form" [formGroup]="formProveedor" >
                <mat-form-field>
                    <mat-label>Nombres: </mat-label> 
                    <input matInput type="text" formControlName="nombres" maxlength="30" minlength="5">
                    @if(nombresField.hasError('required')){
                        <mat-error>Ingrese sus nombres.</mat-error>
                    }@else if (nombresField.hasError('minlength')) {
                        <mat-error>Nombres demasiados cortos.</mat-error>
                    }@else if (nombresField.hasError('soloLetras')) {
                        <mat-error>Los nombres solo debe contener letras.</mat-error>
                    }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Apellidos: </mat-label> 
                    <input matInput type="text" formControlName="apellidos" maxlength="30" minlength="5">
                    @if(apellidosField.hasError('required')){
                        <mat-error>Ingrese sus apellidos.</mat-error>
                    }@else if (apellidosField.hasError('minlength')) {
                        <mat-error>Apellidos demasiados cortos.</mat-error>
                    }@else if (apellidosField.hasError('soloLetras')) {
                        <mat-error>Los apellidos solo debe contener letras.</mat-error>
                    }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Cédula: </mat-label> 
                    <input matInput type="text" formControlName="cedula">
                    @if(cedulaField.hasError('required')){
                        <mat-error>Ingrese su cédula.</mat-error>
                    }@else if (cedulaField.hasError('soloNumeros')) {
                        <mat-error>Ingrese una cédula válida (10 dígitos).</mat-error>
                    }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Telefono: </mat-label> 
                    <input matInput type="text" formControlName="telefono">
                    @if(telefonoField.hasError('required')){
                        <mat-error>Ingrese su telefono.</mat-error>
                    }@else if (telefonoField.hasError('soloNumeros')) {
                        <mat-error>Ingrese un numero de teléfono válido (10 dígitos).</mat-error>
                    }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Correo Electrónico: </mat-label> 
                    <input matInput type="text" formControlName="correoElectronico">
                    @if(correoElectronicoField.hasError('required')){
                        <mat-error>Ingrese su Correo Electrónico.</mat-error>
                    }
                </mat-form-field>

                <mat-checkbox formControlName="estado">Activo</mat-checkbox>
    
                <button mat-raised-button color="primary" >Editar</button>
                <button mat-raised-button color="primary" (click)="regresar()">Regresar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>



